:root{
    --ltmode-blue-500: hsl(220, 98%, 61%);
    --ltmode-gray-50: hsl(0, 0%, 98%);
    --ltmode-purple-300:hsl(234, 39%, 85%);
    --ltmode-gray-300:hsl(233, 11%, 84%);
    --ltmode-gray-600: hsl(236, 9%, 61%);
    --ltmode-navy-850:hsl(235, 19%, 35%);

    --ntmode-navy-950:  hsl(235, 21%, 11%);
    --ntmode-navy-900: hsl(235, 24%, 19%);
    --ntmode-purple-300:hsl(234, 39%, 85%);
    --ntmode-purple-100-hover: hsl(236, 33%, 92%);
    --ntmode-purple-600: hsl(235, 16%, 43%);
    --ntmode-purple-700: hsl(233, 14%, 35%);
    --ntmode-purple-800: hsl(237, 14%, 26%);
    --ntmode-gray-600: hsl(236, 9%, 61%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Josefin sans, "sans serif";
    font-size: 18px;
    min-height: 100vh;
    background-color: var(--ltmode-gray-300);
}

.theme-toggle{
    height: 30px;
    width: 30px;
    background: url(images/icon-moon.svg) no-repeat center / contain;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.tasks-wrapper-info > * {
    color: var(--ltmode-gray-600);
}

.card-section {
    background-color: var(--ltmode-gray-50);
    border-radius: 0.5rem;

}

.card-section:not(.tasks-wrapper){
    padding: 1rem;
}


.check {
    border: 2px solid var(--ltmode-gray-300);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.completed .check {
    background-image: url(images/icon-check.svg), linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
}

.completed span {
    text-decoration: line-through;
    color: var(--ltmode-gray-600);
}

main {
    gap: 1rem;
    padding: 1.5rem;
}

header{
   background: url(images/bg-mobile-light.jpg) no-repeat  center / cover;
   justify-content: space-between;
   padding: 3rem 1.5rem; 
   min-height: 25vh;
   align-items: flex-start;
}

h1 {
    color: var(--ltmode-gray-50);
    text-transform: uppercase;
    letter-spacing: 12px;
}

form {
    align-items: center;
    gap: 0.5rem;
}

#new-todo {
    padding: 0.125rem 0 0 0;
    width: 100%;
    outline: none;
}

form input {
    border: none;
    font-size: inherit;
    font-family: inherit;

}
ul {
    list-style-type: none;
}

li {
    border-bottom: 1px solid;
    border-color: var(--ltmode-gray-300);
    padding: 1rem;
    color: var(--ltmode-navy-850);
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

}

.cross {
    background: url(images/icon-cross.svg) no-repeat center;
    height: 25px;
    width: 25px;
    margin-left: auto;
    cursor: pointer;
}

.tasks-wrapper-info {
    justify-content: space-between;
    border-radius: 0 0 0.5rem 0.5rem;
}

.categories-wrapper {
    justify-content: center;
    gap: 1rem;
}

.categories-wrapper > button {
    font-weight: 700;
}

.categories-wrapper button:not(.selected){
    color: var(--ntmode-purple-600);
}

.selected {
    color: hsl(220, 98%, 61%);
}

.clear {
    cursor: pointer;
}


footer {
    color: var(--ltmode-navy-850);
    align-self: center;
    margin-top: 2rem;
}

/*Dark Mode*/

.dark-mode {
    background-color: var(--ntmode-navy-950);
}

.dark-mode .card-section {
    background-color: var(--ntmode-navy-900);
}

.dark-mode header {
     background: url(images/bg-mobile-dark.jpg) no-repeat  center / cover;
}

.dark-mode .theme-toggle {
    background-image: url(images/icon-sun.svg);
}

.dark-mode .check {
    border-color: var(--ntmode-purple-800);
}

.dark-mode li{
    border-color: var(--ntmode-purple-700);
}

.dark-mode li > span, .dark-mode input {
    color: var(--ntmode-purple-300);
}

.dark-mode .completed span, .dark-mode .tasks-wrapper-info > * {
    color: var(--ntmode-purple-600);
}

.dark-mode #new-todo {
    background-color: var(--ntmode-purple-900);
}

