:root{
    --ltmode-blue-500: hsl(220, 98%, 61%);
    --ltmode-gray-50: hsl(0, 0%, 98%);
    --ltmode-purple-300:hsl(234, 39%, 85%);
    --ltmode-gray-300:hsl(233, 11%, 84%);
    --ltmode-gray-600: hsl(236, 9%, 61%);
    --ltmode-navy-850:hsl(235, 19%, 35%);

    --ntmode-navy-950:  hsl(235, 21%, 11%);
    --ntmode-navy-900: hsl(235, 24%, 19%);
    --ntmode-purple-300:hsl(234, 39%, 85%);
    --ntmode-purple-100-hover: hsl(236, 33%, 92%);
    --ntmode-purple-600: hsl(235, 16%, 43%);
    --ntmode-purple-700: hsl(233, 14%, 35%);
    --ntmode-purple-800: hsl(237, 14%, 26%);
    --ntmode-gray-600: hsl(236, 9%, 61%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Josefin sans, "sans serif";
    font-size: 18px;
    min-height: 100vh;
    background-color: var(--ltmode-gray-300);
}

button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

.check {
    border: 2px solid var(--ltmode-gray-300);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    cursor: pointer;
}

.flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.tasks-wrapper-info > * {
    color: var(--ltmode-gray-600);
}

#all-btn {
    color: var(--ltmode-blue-500);
}

.card-section {
    background-color: var(--ltmode-gray-50);
    border-radius: 0.5rem;

}

.card-section:not(.tasks-wrapper){
    padding: 1rem;
}

main {
    gap: 1rem;
    padding: 1.5rem;
}

header{
   background: url(images/bg-mobile-light.jpg) no-repeat  center / cover;
   justify-content: space-between;
   padding: 3rem 1.5rem; 
   min-height: 25vh;
   align-items: flex-start;
}

h1 {
    color: var(--ltmode-gray-50);
    text-transform: uppercase;
    letter-spacing: 12px;
}

form {
    align-items: center;
    gap: 0.5rem;
}

#new-todo {
    padding: 0.125rem 0 0 0;
    width: 100%;
}

form input {
    border: none;
    font-size: inherit;
    font-family: inherit;

}
ul {
    list-style-type: none;
}

li {
    border-bottom: 2px solid;
    border-color: var(--ltmode-gray-300);
    padding: 1rem;
    color: var(--ltmode-navy-850);
    align-items: center;
    gap: 0.5rem;

}

.cross {
    background: url(images/icon-cross.svg) no-repeat center;
    height: 25px;
    width: 25px;
    margin-left: auto;
}

.tasks-wrapper-info {
    justify-content: space-between;
    border-radius: 0 0 0.5rem 0.5rem;
}

.categories-wrapper {
    justify-content: center;
    gap: 1rem;
}

footer {
    color: var(--ltmode-navy-850);
    align-self: center;
    margin-top: 2rem;
}

/* estilos para tareas completadas */
li.completed span {
  text-decoration: line-through;
  color: var(--ltmode-gray-600);
  opacity: 0.7;
}

/* mostrar check dentro del botón cuando está completado */
li.completed .check {
  background: url(images/icon-check.svg) no-repeat center/60%;
  background-color: var(--ltmode-blue-500);
  border: none;
}
